<h1 class="mb-1 restaurant-show-title text-center mt-3 mb-5">請輸入你的支出</h1>

<div class="container col-md-4 m-auto">
  <form action="/expenseTrack" method="POST">
    <div class="mb-4 input-group flex-nowrap">
      <label for="event" class="form-label me-5 fs-4">帳目<span class="text-danger">*</span>：</label>
      <input type="text" class="form-control" id="event" placeholder="帳目" name="event" required />
    </div>
    <div class="mb-4 input-group flex-nowrap">
      <label for="category" class="form-label me-5 fs-4">分類<span class="text-danger">*</span>：</label>
      <input type="text" class="form-control" id="category" placeholder="食衣住行" list="categoryOptions" name="category" required />
      {{! 使用datalist，讓使用者可選擇或自行輸入 }}
      <datalist id="categoryOptions">
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他</option>
      </datalist>
    </div>
    <div class="mb-4 input-group flex-nowrap">
      <label for="date" class="form-label me-5 fs-4">日期<span class="text-danger">*</span>：</label>
      <input type="date" class="form-control" id="date" placeholder="2023/2/29" name="date" required />
    </div>
    <div class="mb-5 input-group flex-nowrap">
      <label for="money" class="form-label me-5 fs-4">支出<span class="text-danger">*</span>：</label>
      <input type="number" class="form-control" id="money" name="money" required />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        新增帳目
      </button>
    </div>
  </form>
</div>